.input-new-entire
  .input-new-entire__inside
    .input-new-entire__inside__form
      = form_for(@job) do |f|

        = f.label :name, "職種を選んで下さい" , class:"input-new-entire__inside__form__label"
        =f.select :name,[["選択してください", "選択してください"],["営業", "営業"], ["ドライバー", "ドライバー"],  ["製造", "製造"], ["事務", "事務"],["土木", "土木"], ["飲食", "飲食"], ["販売", "販売"], ["軽作業", "軽作業"]]

        = f.label :conversion, "コンバージョン" , class:"input-new-entire__inside__form__label"
        = f.text_field :conversion , class:"input-new-entire__inside__form__text"

        = f.submit "送信する" , class:"input-new-entire__inside__form__submit"