.input-answer-entire
  .input-answer-entire__inside

    .input-answer-entire__inside__entry
      %p.input-answer-entire__inside__entry__p 必要なエントリー数
      .input-answer-entire__inside__entry__number
        ="#{@inputs.last.people_number*@inputs.last.recruit_percent/10}エントリー"

    .input-answer-entire__inside__pv
      .input-answer-entire__inside__pv__p 必要なPV数
      .input-answer-entire__inside__pv__number
        = "#{@inputs.last.people_number*@inputs.last.recruit_percent/10/@job.conversion*100}PV"
        -pv = @inputs.last.people_number*@inputs.last.recruit_percent/10/@job.conversion*100

    .input-answer-entire__inside__week-price
      %p.input-answer-entire__inside__week-price__p PV数をクリアする為に必要な掲載期間と掲載料金
      
      
      -@plans.each do |plan|
        .input-answer-entire__inside__week-price__name
          =plan.name
        -@week =pv/plan.week_pv
        .input-answer-entire__inside__week-price__week
          ="#{pv/plan.week_pv}週間" 
        .input-answer-entire__inside__week-price__price
          ="掲載料金#{@week*plan.week_price}円"
 

